.hero__wrapper {
    display: flex;
    justify-content: space-between;
}

.hero__content,
.hero__img {
    width: 50%;
}

.hero__content h2 {
    font-size: 3rem;
}

.highlight {
    color: var(--primarycolor);
}