/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Sofia+Sans+Semi+Condensed:ital,wght@1,300&display=swap');

/* css variables */

:root {
    --primary-color: #2BBBBF;
    --secondary-color: #18233F;
    --heading-color: #fff;
    --btn-primary-bg: #2BBBBF;
    --btn-secondary-bg: #18233F;
    --team-card-bg: #18233F;
    --link-color: #fff;
    --link-active: #2BBBBF;
    --card-bg: linear-gradient( 45deg, rgba(15, 18, 61, 1) 33%, rgba(15, 18, 61, 1) 52%, rgba(11, 41, 69, 1) 84%);
    --counter-color: linear-gradient( 90deg, #2BBBBF 30%, rgba(29, 129, 176, 1) 55%, rgba(35, 93, 173, 1) 75%);
    --body-bg: rgba(6, 11, 26, 1);
    --newsletter-bg: linear-gradient( 90deg, rgb(10, 0, 58) 20%, rgba(23, 9, 96, 1) 38%, rgba(14, 9, 56, 1) 100%);
    --testimonial-bg: #1a0f4f;
    --font-name: "Roboto", sans-serif;
    --small-text-color: rgba(255, 255, 255, 0.774);
    --icon-bg: #151e4f;
}

.light-theme {
    --body-bg: rgb(255, 255, 255);
    --heading-color: #ffffff;
    --btn-secondary-bg: #2BBBBF;
    --btn-primary-bg: #fff;
    --primary-color: #2BBBBF;
    --counter-color: #fff;
    --counter-section-bg: #2BBBBF;
    --link-color: #2BBBBF;
    --link-active: #816aff --newsletter-bg: linear-gradient( 180deg, rgba(189, 243, 255, 1) 29%, rgba(193, 243, 255, 1) 50%, rgba(226, 250, 255, 1) 78%);
    --small-text-color: #000;
    --card-bg: #fff;
    --testimonial-bg: #f7f7f7;
    --team-card-bg: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--body-bg);
    font-family: var(--font-name);
}

a {
    text-decoration: none;
    color: var(--link-color)
}

h1,
h2 {
    color: var(--heading-color);
    font-size: 2rem;
}

section {
    padding: 60px 0px;
}

.container {
    width: 1140px;
    padding: 0px 15px;
    margin: auto;
}

.description {
    color: var(--small-text-color);
    line-height: 30px;
    font-size: 0.9em;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 20px;
}